/config/gh
/config/iterm2
/config/op
/ssh/github_rsa*
/ssh/id_ed25519
/ssh/id_rsa
/ssh/known_hosts
Brewfile.lock.json
bundle/cache
gnupg/*private*
gnupg/pubring.kbx
gnupg/trustdb.gpg
rbenv/*/
secrets
